header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
padding: 20px;

width: 100%;
.gral{
    margin-left: 100px;

    img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
}


.right{
    margin-right: 100px;

    input{
        padding: 12px;
        font-size: 18px;
        width: 220px;
        border-radius: 4px;
    }
    button{
        border: 2px solid black;
        padding: 15px;
        margin-left: 30px;
    }

    
}
}