
<app-navbar></app-navbar>
<div>
    <div class="cardprofile">
        <img src="/assets/img/e62e4bcd3d858e4839b5c2b465bae257f22dc2666e91f438860b8031380a9984.webp">
    
    <div class="col">
        <h1>Linktree Template Pizza</h1>

    <div class="d-flex">
        <div class="price" itemprop="price" content="2">$2<!-- -->+</div> 
        <div class="price">Gralweb</div>
        <div class="ratin">0 ratings</div>
    </div>
    </div>

    <div class="linktree">
        Linktree basico para restaurantes
    </div>

    
</div>
</div>
